html {
    font-family: Verdana;
    color: red !important;
}

div.header {
/*
    top: 10px;
    background-image: url("/dsn_report/static/img/logo_disna_descrip.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    page-break-before: always;
*/
}

p.company_data {


    font-size: xx-small;
}

body {
    color: red !important;
}